.footer {
  background-color: #262626;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.footer__logo {
  /* font-size: 2rem; */
  /* font-weight: bold; */
  margin-bottom: 1rem;
}
.footer__logo a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__social-icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.footer__social-icon:hover {
  color: #ccc;
}
