.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  height: 50px;
  margin-right: 10px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__links li {
  margin: 0 20px;
  list-style: none;
}

.navbar__links a:hover {
  color: #3fd0d4;
}

.navbar__links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar__social-icons {
  display: flex;
  align-items: center;
}

.navbar__social-icons a {
  color: #3fd0d4;
  margin: 0 10px;
}

.navbar__hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    /* padding: 10px; */
  }

  .navbar__logo {
    margin-bottom: 20px;
  }

  .navbar__links {
    margin-bottom: 20px;
    display: none;
  }

  .navbar__links li {
    margin: 10px 0;
  }

  .navbar__hamburger {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  .navbar__social-icons a {
    display: none;
  }
}
